<div id="" class="page-width">
    {% render 'breadcrumbs', show: false %}
</div>

{% schema %}
    {
      "name": "Breadcrumbs",
      "tag": "section",
      "class": "section",
      "settings": [],
      "presets": [
        {
          "name": "Breadcrumbs"
        }
      ]
    }
    {% endschema %}
    