    
    <div class="custom-html">
        {{ section.settings.custom_html_content }}
      </div>
      

{% schema %}
    {
      "name": "Custom HTML",
      "settings": [
        {
          "type": "html",
          "id": "code-output",
          "label": "Custom HTML Content",
          "default": "<p>Your HTML content goes here.</p>"
        }
      ],
      "presets": [
          {
          "name": "Custom HTML"
          }
      ]
    }
{% endschema %}
