<style>
  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
</style>

<div id="loading-overlay">
  {% if section.settings.image != blank %}
  <img src="{{ section.settings.image | img_url: '250x' }}" alt="Logo">
  {% endif %}
</div>

<script>

  window.onload = function () {
    function hideOverlay() {
      var overlay = document.getElementById('loading-overlay');
      overlay.style.display = 'none';
    }
    // Adjust this value to control how long the overlay is shown
    setTimeout(hideOverlay, 50);
  }
</script>

{% schema %}
{
"name": "Page Transition",
"class": "section",
"tag": "section",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "transition image/logo"
}
],
"presets": [
{
"name": "Page Transition"
}
]
}
{% endschema %}