.footer-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.footer-form .footer-block__newsletter {
    text-align: center;
    margin: auto;
}

.footer-form .footer__list-social {
    margin-top: 2rem;
}

.footer-form .copyright__content {
    margin-top: 5px;
    font-size: 1.3rem;
}

.footer__content-top.page-width {
    padding: 2rem;
}

.footer-block .newsletter-form__field-wrapper {
    max-width: none;
    width: 100%;
}

.footer-block .footer-block__newsletter {
    width: 100%;
    margin: auto;
    max-width: none;
}

.footer-block .footer__newsletter.newsletter-form {
    width: 100%;
    margin: auto;
    max-width: none;
}

.footer-block {
    max-width: 400px !important;
    margin: 0 auto;
}

.footer__blocks-wrapper {
    justify-content: center;
    width: 100%;
    margin: auto;
}

.footer-form .footer-block__newsletter h3 {
    margin: 2rem auto auto;
    font-size: 2rem;
}

.footer-form .footer-block__newsletter p {
    font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {}